.header,.main,.footer{
  width: 100%;
}
.header{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #333;
}
.header__h1{
  text-transform: uppercase;
  color: white;
  font-size: 2.5em;
}
.main{
  flex: 1;
  padding: 1em 0;
}
