.main__list{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.list__item{
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  background: #f1f1f1;
  border: 2px solid lightgray;
  margin: 1%;
  cursor: pointer;
  position: relative
}
.item__info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.info__pic{
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: center;
  /*max-width: 20px;*/
  /*display: none;*/
}
.info__name{
  font-size: 1.2em;
  text-decoration: none;
  color: #333;
  transition: all .4s ease;
}
.list__item:hover .info__name{
  text-decoration: underline;
  color: #515151
}
.item__number{
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1em;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  color: white;
  background: rgba(51,51,51,.5);
  transition: all .35s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}
.list__item:hover .item__number{
  background: rgba(51,51,51,1);
}
/*.list__item:nth-child(n+30) .info__pic{
    display:none;
}*/