:host{
  /*width: auto;*/
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__person{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: auto;
  max-width: 75%;
  border: 1px solid lightgray;
  padding: 0 0 1em;
  margin: 0;
}
.hide{
  display: none;
}
.main__person > *{
  /*width: calc(100%/3);*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.info__img{
  max-width: 250px;
}
.info__name, .info__company, .info__blog{
  text-align: center;
}
.main__person .person__more{
  justify-content: flex-start;
  padding: 0 1em;
}
.more__repos, .repos__item{
  display: flex;
  /*list-style: none;*/
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}
.repos__item{
  border: 1px solid lightgray;
}